# APP
DEBUG=1

# API
BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://localhost:3000"]

# DB
SQLITE_DB=cases.sqlite
SQLITE_DB_TEST=cases_test.sqlite

# CTSM
CTSM_REPO=https://github.com/ESCOMP/CTSM/
CTSM_TAG=ctsm5.1.dev083
MACHINE_NAME=container

# Docker
PORT=8000
HOST_USER=root
HOST_UID=0
