# API
BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://localhost:8080"]

# CTSM
SKIP_MODEL_CHECKS=0
MODEL_REPO=https://github.com/ESCOMP/CTSM/
MODEL_VERSION=ctsm5.1.dev083
MODEL_DRIVERS=["nuopc", "mct"]

# Docker
PORT=8000
HOST_USER=root
HOST_UID=0
