alembic~=1.8
celery[librabbitmq]~=5.2
fastapi~=0.85
gunicorn~=20.1
passlib[bcrypt]~=1.7
pydantic[dotenv,email]~=1.10
python-dateutil~=2.8
python-jose[cryptography]~=3.3
python-multipart~=0.0
python-slugify~=6.1
requests~=2.28
scipy~=1.9
SQLAlchemy[mypy]~=1.4
uvicorn~=0.19
xarray[netcdf4]~=2022.10

# Dev
autoflake~=1.7
black~=22.10
flake8~=5.0
flake8-bugbear~=22.9
isort~=5.10
mypy~=0.982
pre-commit~=2.20
pytest~=7.1
pytest-cov~=4.0
sqlalchemy2-stubs~=0.0.2a29
types-python-slugify~=6.1
types-requests~=2.28
watchdog[watchmedo]~=2.1
